@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.hidden {
    display:none
}

#lista-historico {
    max-height: 200px; /* Limita a altura */
    overflow-y: auto;  /* Cria uma barra de rolagem se tiver muitos itens */
    padding: 10px;
    background-color: #ffffff;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #09151b;
    color: #e6eaed

}

.container {
    background-color: #1e2e3a;
    border-radius: 20px;
    padding: 30px;


}

.container button {
    background-color: #33b854 ;
    border: none;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    cursor: pointer;
}

input, select {
    background-color: #0e1c24; 
    color: #1b9651;           
    border: none;            
    padding: 10px;            
    border-radius: 8px;       
    outline: none;         
    width: 100%;            
    margin-bottom: 15px;   
}

/* Para mudar a cor do texto de exemplo (Ex: 150.00) */
input::placeholder {
    color: #1b9651;             
}

.brand {
    display: flex;
    align-items: baseline;
    gap: 12px;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:#e6eaed;
    font-size: 2.5rem;
    line-height: 1;
}

.logo-img {
    width: auto;
    height: 50px;
}